/* CSS Directory
------------------
-- line- 40  -- Header & links
-- line- 60  -- Hero heading with sub-text image placeholder
-- line- 112 -- Informational section with illustration image and text  
-- line- 148 -- Inspirational quote 
-- line- 172 -- Call to action placeholder
-- line- 224 -- Footer copyright information The Odin Project website
------------------
*/


* {
    box-sizing: border-box;
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

figcaption {
  color: #e882f1;
}

/* Header & links */

.header-container {
  background-color: #1F2937;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.right-links {
  display: inline-flex;
  gap: 24px;
}

/* Hero heading with sub-text image placeholder */

.hero-container {
  background-color: #1F2937;
  height: 325px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-shrink: 1;
  padding: 20px;
}

.heading-awesome {
  font-size: 48px;
  width: 425px;
  font-weight: 900;
  color: #F9FAF8;
  padding: 15px;
  margin: 0 auto;
}

.tech-humor {
  font-size: 18px;
  width: 425px;
  font-weight: 300;
  color: #E5E7EB;
  padding: 3px;
}

.btn-hero {
  background-color: #3882F6;
  border: 1px solid #E5E7EB;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .06);
  width: 155px;
  font-size: 18px;
  font-weight: 800;
  color: #F9FAF8;
  border-radius: 8px;
  padding: 10px;
}

.btn-hero:hover {
  background-color: #86aef0;
  color: #073074;
}

.laptop-right {
  padding: 28px;
  margin: 0 auto;
    
}

/* Informational section with illustration image and text */

.learning-header {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  padding: 20px;
  margin: 20px; 
}

.info-container {
  height: 355px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  width: 250px ;
  border: 3px solid #3882F6;
  border-radius: 15px;
  box-shadow: 13px 13px 20px rgba(137, 207, 240, .08);
  align-items: center;
}

.caption {
  width: 260px;
  font-size: 16px;
  color: #1F2937;
  text-align: justify;
  padding-top: 8px;
  margin-bottom: 60px;
}

/* Inspirational quote */

.container-quote {
  background-color: #E5E7EB;
  height: 455px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}

.quote {
  color: rgba( 31, 41, 55, 0.8);
  font-size: 36px;
  margin: 50px;
}

.author {
  font-size: 28px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin-right: 400px;
  margin-top: 20px;
}

/* Call to action placeholder */

.parent-container {
  height: 455px;
  display: flex;
  justify-content: center;
  padding: 100px;
  margin-top: 50px;
}

.child-1 {
  background-color: #3882F6;
  width: 1150px;
  height: 175px;
  border-radius: 12px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.call-h1 {
  font-size: 24px;
  padding-bottom: 5px;
}

.tech-humor-2 {
  width: 455px;
  font-size: 18px;
  font-weight: 300;
  color: #E5E7EB;
  padding: 10px;
  margin: 10px;
}

.btn-call {
  background-color: #3882F6;
  border: 3px solid #E5E7EB;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, .08);
  width: 155px;
  font-size: 18px;
  font-weight: 800;
  color: #F9FAF8;
  border-radius: 8px;
  padding: 10px;  
}

.btn-call:hover {
  background-color: #86aef0;
  color: #073074;
}

/* Footer copyright information The Odin Project website */

footer {
    background-color: #1F2937;
    height: 100px;
}

.copyright {
    color: #E5E7EB;
    text-align: center;
    padding: 25px;
    
}

.odin {
  color: #3882F6;
}

.odin:hover {
  color: #e882f1;
}

